/* start input to do list */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    width: 570px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.content{
    display: grid;
    grid-template-columns: 90px 125px 300px 35px;
    grid-template-rows: 35px;
}
input{
   padding: 5px; 
   background-color:rgba(241, 241, 241, 0.986) ;
   border-radius: 10px;
   margin: 0 5px ;
   border: none;
}
.icon-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 209, 5, 0.952);
    border-radius: 50%;
}
/* end input to do list */

.content-todo{
 display: grid;
 grid-template-columns: auto 80px 130px 30px 30px;
 padding: 10px;
 text-align: center;

}
.todo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}